body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.Calculator {
    width: 300px;
    background-color: #8a8a8a;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.display {
    border: 1px solid #ffffff;
    padding: 15px;
    text-align: right;
    font-size: 24px;
    background-color: #464646;
    color: #ffffff;
    min-height: 40px;
    word-wrap: break-word;
    border-bottom: none;
}

.mdas-display {
    border: 1px solid #ffffff;
    padding: 10px 15px;
    text-align: right;
    font-size: 14px;
    background-color: #464646;
    color: #cccccc;
    min-height: 18px;
    word-wrap: break-word;
    border-top: none;
   
}

.left-to-right-display {
    border: 1px solid #ffffff;
    padding: 8px 15px;
    text-align: right;
    font-size: 14px;
    background-color: #363636;
    color: #ffcc00;
    min-height: 18px;
    word-wrap: break-word;
    border-top: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
}
button.backspace{
    grid-column: span 2;
    
}

button {
    padding: 18px;
    border-radius: 10px;
    background-color: #464646;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px;
}

button.zero {
    grid-column: span 2;
}
button.equals {
   height: 59px;
   background-color: #ff9500;
}

#equals {
    grid-row: span 2;
}

button:hover {
    background-color: #5a5a5a;
}

.operator {
    background-color: #ff9500;
}

.operator:hover {
    background-color: #ffad33;
}
